//
// fonts scss
//
@font-face {
    font-family: "Roboto";
    src: url('../fonts/roboto/Roboto-Thin.ttf');
    font-style: normal;
    font-weight: 400;
  }
@font-face {
    font-family: "Roboto";
    src: url('../fonts/roboto/Roboto-Regular.ttf');
    font-style: normal;
    font-weight: normal;
  }
@font-face {
    font-family: "Roboto";
    src: url('../fonts/roboto/Roboto-Bold.ttf');
    font-style: normal;
    font-weight: 700;
  }
@font-face {
    font-family: "Spartan";
    src: url('../fonts/spartan/Spartan-SemiBold.ttf');
    font-style: normal;
    font-weight: 700;
  }
@font-face {
    font-family: "Lora";
    src: url('../fonts/lora/Lora-Regular.ttf');
    font-style: normal;
    font-weight: normal;
  }
@font-face {
    font-family: "Lora";
    src: url('../fonts/lora/Lora-Medium.ttf');
    font-style: normal;
    font-weight: 400;
  }
@font-face {
    font-family: "Lora";
    src: url('../fonts/lora/Lora-SemiBold.ttf');
    font-style: normal;
    font-weight: 700;
  }

